<div id="backButton" (click)="navigateBack()"><i class="fa-solid fa-arrow-left fa-2xl"></i></div>

<h1>BlackJack Rules</h1>
<div id="rules">
    <ol>
        <li>
            <h2>Objective of the Game:</h2>
            <span>The goal is to have a hand value closer to 21 than the dealer's hand without exceeding 21.</span>
        </li>
        <li>
            <h2>Card Values:</h2>
            <ul>
                <li>Number cards (2-10): Face value.</li>
                <li>Face cards (King, Queen, Jack): Worth 10 points.</li>
                <li>Ace: Worth 1 or 11 points, depending on what benefits the hand.</li>
            </ul>
        </li>
        <li>
            <h2>Gameplay:</h2>
            <span>- Each round the player can choose one of two options:</span>
            <ul style="margin-left: 3%;">
                <li>Draw a new card</li>
                <li>Fold, this means he thinks the hand he has at the moment is his best chance of winning</li>
                
               
            </ul>
        </li>
        <li>
            <h2>Winning Conditions:</h2>
            <ul>
                <li>If the player reach 21 points first</li>
                <li>If the other player gets busted (get more points thant 21)</li>
                <li>If both players fold, the player with more points wins</li>
               
            </ul>
        </li>
       
        
    </ol>
</div>